/*
 Theme Name:   Bake and Cake Child
 Theme URI:
 Description:  Bake and Cake Child Theme
 Author:       Eugene Kutas
 Author URI:   https://www.facebook.com/evgenij.kutas
 Template:     bakes-and-cakes
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  bakes-and-cakes-child
*/


@media only screen and (max-width: 991px){
	.container{width: 750px;}
	.header-t{padding: 20px 0 0;}
	#mobile-header {
        display: block;
        float: right;
    }
    #mobile-header > a {
	    display: block;
	    height: 50px;
	    padding: 17px 14px;
	    text-align: center;
	    width: 50px;
	}
    #mobile-header .icon-bar{
    	width: 22px;
    	height: 3px;
    	background: #555;
    	border-radius: 2px;
    	display: block;
    	margin: 0 0 3px;
    }
    #site-navigation{display: none;}
    .site-branding{
      float: inherit;
    }
    .site-branding img{
      max-width: 150px;
    }
    .banner .banner-text .text .title{
    	font-size: 40px;
    	line-height: 44px;
    }
    .banner .banner-text .text{font-size: 18px;}
    .banner .banner-text .text p{margin: 0 0 15px;}
	.banner .banner-text .text .btn{padding: 5px 38px;}
	.intro .opening-time{
		width: 100%;
		display: inline-block;
		float: none;
		text-align: center;
	}
	.intro .opening-time .circle{
		float: none;
		display: inline-block;
	}
	.intro .opening-time .time{
		display: inline-block;
		vertical-align: top;
		text-align: left;
	}
	.special .columns-8,
	.special .columns-4{
		width: 100%;
		margin: 0 0 30px;
	}
	.special .info{
		float: none;
		margin: 0 auto;
	}
	.our-staff #staff-slider .img-holder{width: 333px;}
	.our-staff #staff-slider .text-holder{
		max-height: 193px;
		padding: 30px 20px 28px;
	}
	.our-staff #carousel{
		padding: 32px 20px;
    	width: 397px;
	}
	.our-staff #carousel .flex-direction-nav .flex-prev{left: 0;}
	.our-staff #carousel .flex-direction-nav .flex-next{right: 0;}
	.our-staff{padding: 70px 0 0;}
	.blog-section .post .entry-title{
		font-size: 15px;
		line-height: 18px;
	}
	.blog-section .post .readmore{font-size: 13px;}

	.blog-section .post .posted-on{
		font-size: 15px;
		line-height: 18px;
		margin: 0 0 10px;
	}
	.blog-section .post{
		width: 50%;
		margin-bottom: 20px;
	}

	.blog-section .post .text-holder{padding: 10px;}
	.site-footer .widget ul li span{float: left;}
	.testimonial .tabset li .active::before{left: 38px;}
	.content-area{width: 100%;}
	#secondary{
		width: 100%;
		margin-top: 30px;
	}
}
